{% extends 'base.html' %}
{% block content %}
<style>
 
    
    pre{white-space: pre;}
    @media screen and (max-width:500px){
        pre{
        font-size: 6px;
        display: flex;
        justify-content: center;
        overflow: hidden;}
    }
</style>

<h1>404 looks like you missed</h1>
<pre>
                                       @
                              +-------/-------------------+    
                              |\     / \_    /            |\                                 
                              |  \  /  \_o--<_/           | o\
______________________________|___|/______________________|-|\|__________________
        /                    /    /              _ o     / /|_                /
       /                    /  _o'------------- / / \ ----/                  /
      /                    /  /|_                /\    /                    /
     /                    /_ /\ _______________ / / __/                    /
    /                       / /                                           /
   /                                                                     /
  /                                                                     /
 /                                                                     /
/____________________________________________________________________ /
</pre>

{%endblock%}